.filter {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 5px;
  text-align: right;
}

.right_text {
  text-align: right;
}

.card {
  margin-top: 1rem;

  .content {
    display: flex;
    flex-wrap: wrap;

    p {
      width: 50%;
      color: #585656;
    }
  }
}
