@containerPadding: 24px;
@fontSize: 16px;
@itemMargin: 10px;

.container {
  display: flex;
  font-size: @fontSize;
  background-color: #ffffff;
  padding: @containerPadding;
  border-bottom: 1px solid #f0f0f0;

  .filters {
    display: flex;
    justify-content: space-between;

    .filter_item:nth-child(n + 2) {
      margin-left: @itemMargin;
    }
  }

  .toolbars {
    margin-left: auto;
  }

  .filter_item:nth-child(n + 2) {
    margin-right: @itemMargin;
  }
}
